* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: var(--nav-background-color);
    text-align: center;
    display: flex;
    justify-content: space-around;
}