body {
    font-family: Arial, sans-serif;
    line-height: 1.6
}

nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    background-color: lightcyan;
    padding: 10px;
    color: black;
}

nav,
footer {
    background-color: lightcyan;
    padding: 10px;
    color: black;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

main img {
    max-width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

.main {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: auto;
    margin: 4rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 10px;
    background-color: lightcyan;
    color: black
}

.aside {
    display: flex;
    align-items: center;
    gap: 15px;
    width: auto;
    margin: 4rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 10px;
    background-color: lightcyan;
    color: black
}

p {
    padding: 0;

}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}