* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6
}

header,
footer {
    padding: 10px;
    color: #fff;
    background-color: #333;
    text-align: center;
    font-size: 1.5rem
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px rgb(0, 0, 0, 1);
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 10px;
    background-color: gainsboro;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 10px 20px;
}

footer {
    font-size: .9rem;
}